.jams {

  padding-left: 0;
  display: flex;
  gap: 3rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  max-width: 70rem;

  > li {
    list-style: none;
  }

  .jam {
    display: inline-block;
    position: relative;
    border-radius: 0.5rem;


    > img {
      border-radius: inherit;
    }

    > div {
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: fit-content;
    }

  }

}

