:root {
  --primary: #5C87E7;
  --success: #0dc268;
  --error: #ed0a34;
  --notify: #ff9e00;
  --text-primary: #FEFEFE;
  --text-secondary: #999ca0;
  --background-primary: #111215;
  --background-secondary: #1B1C1F;

  --link: #005bd1;
  --link-visited: #528fdf;
}